<!--Define variables etc-->
@{
    ViewBag.Title = "Contact";

    //var rng = new Random();
    //ViewBag.RandomNum = rng.Next(1, 11);
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (ViewBag.RandomNum > 1)
{
    <address> <!--For Accessibility Devices-->
        101 North Main St.<br />
        Suite 400<br />
        Greenville, SC <br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
}
else
{
<address>
    <!--For Accessibility Devices-->
    1 Bruce Manor Way<br />    
    Gotham, SD <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
}

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>